<div class="dashComment">
    <div class="form-group">
        <label for="exampleFormControlTextarea1" class="createP">CREATE A POST</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Submit!</button>
</div>