<div class="content">
    <div class="welcome">
        <div class="intro">Welcome to the community!</div>
        <p class="brief">Please feel free to add and post content with other users! We welcome everyone as this is a melting pot for developers! 
        Have fun and enjoy!
        </p>
    </div>


    {{#each allPosts }}
        <hr/>
             <a href="/post/{{id}}" style="text-decoration: none;">
             <h1 class="postTitle">{{title}}</h1>
             <p>{{content}}</p>
             </a>
    {{/each}}

</div>