<div>
    <h1>This is the Homepage</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam explicabo iusto expedita error voluptatem sapiente
        iure porro nesciunt! Provident animi blanditiis consectetur esse nostrum, quisquam officiis similique rerum
        exercitationem numquam.</p>

    {{#each allPosts }}
        <hr/>
             <h1>{{title}}</h1>
             <p>{{content}}</p>
    {{/each}}

</div>