<div class="container">
    <form id="loginForm">
        <div class="mb-3">
            <label for="inputEmail" class="form-label">Email address</label>
            <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <a href="/signup" class="btn btn-success">Need an account?</a>
    </form>
</div>

<script src="/assets/js/login.js"></script>